.description {
  color: rgb(18, 18, 18, 0.64);
  font-size: 16px;
  line-height: 1.8rem;

  ul {
    list-style-type: disc;
    margin-left: 40px;
  }

  @media screen and (max-width: 1024px) {
    font-size: 14px;
    line-height: 1.4rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-playfair_display);
    color: rgb(18, 18, 18);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.875rem;
    margin: 16px 0 4px 0;

    @media screen and (max-width: 1024px) {
      font-size: 18px;
      font-weight: 500;
    }
  }
}